.trash/*
source/node_modules/*
source/dist/*
source/build/*
source/public/*
source/docs/*
source/quartz/*
!source/quartz/static/
source/quartz/static/*
!source/quartz/static/comic/
!source/quartz/static/comic/**
!source/quartz/static/dungeon/
!source/quartz/static/dungeon/**
source/quartz.lock
source/quartz.lock